* {
    background-color: green;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}

h1 {
    color: white;
    text-align: center;
}

h4 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-style: italic;
    margin-bottom: 50px;
}

div {
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    width:50%;
    margin:auto;
}

#input{
    background-color: rgb(45, 43, 43);
    padding: 10px;
    margin: 8px;
}

label,
p,form{
    background-color: black;

}

#Roles {
    background-color: rgb(54, 53, 53);
    padding: 10px;
    margin: 8px;
}
option,select{
    color:white;
    background-color: black;
}
#form{
    align-items: center;
    background-color: black,;
}